.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: auto;
    padding: 5px 9px;
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: 600;
    font-family: system-ui, -apple-system,
        /* Firefox supports this but not yet `system-ui` */ "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    cursor: pointer;
    background-color: var(--white);
    border: 1px solid transparent;
    user-select: none;

    + .wrapper {
        margin-left: 8px;
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
    span {
        display: block;
    }
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}

.icon {
    display: inline-block;
    width: 24px;
    text-align: center;
}

// Button types
.rounded {
    border-radius: 999px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    border-color: rgba(22, 24, 35, 0.12);

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.primary {
    color: white;
    background-color: rgb(0, 149, 246);
}

.outline {
    color: rgb(var(--primary-text));
    border-color: rgb(219, 219, 219);
}

.text {
    &:hover {
        text-decoration: underline;
    }
}

// Button sizes
.small {
    min-width: 88px;
    padding: 4px 16px;
}

.large {
    padding: 14px 16px;
    min-width: 140px;
}
